html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* убирает вертикальный и горизонтальный скролл */
}

body {
    text-align: center;
    font-family: 'Roboto Condensed', 'Bahnschrift', sans-serif;
}

h1 {
    margin-top: 60px;
    font-size: 15px;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
}

h2 {
    padding: 0px 0 0 0;
    font-size: 20px;
    font-weight: lighter;
}