.top-container{
    background: #EFEEF4;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    z-index: 999;
    padding: 0 0 10px 0;
    position: relative; /* важно для z-index */
}

.buttons-container {
    display: flex;
    justify-content: space-between; /* раздвигает элементы по краям */
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px; /* по желанию */
    box-sizing: border-box;
}

.worktime-button {
    margin: 0;
}

.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 10px;
    font-size: 16px;
    padding: 0px 0px 0px 10px;
    border-radius: 15px;
    height: 40px;
}

.user-info p{
    margin: 0;
}

.user-button {
    width: 30px;
    height: 30px;
    border: white, 15px, solid;
    padding: 0;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    background: none;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 0 0px 7px rgba(0.2,0.2,0.2,0.2);
}

.user-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.carousel-container{
    margin-top: -20px;
    background: #CBCBD0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.date-carousel {
    overflow-x: auto;
    padding: 12px 16px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.date-carousel::-webkit-scrollbar {
    display: none;
}

.date-track {
    display: flex;
    gap: 12px;
}

.date-item {
    min-width: 64px;
    height: 85px;
    background: #fff;
    border-radius: 18px;
    text-align: center;
    padding-top: 10px;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.2s ease;
    box-shadow: 0 5px 7px rgba(0,0,0,0.2);
}

.date-item .num {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    margin-bottom: -5px;
    display: block;
}

.date-item .statusDot {
    width: 6px;
    height: 6px;
    background: lightgray;
    border-radius: 50%;
    margin: 0px auto 0;
}

.date-item .day {
    margin-top: 0px;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.6;
}

.date-item .dot {
    width: 20px;
    height: 4px;
    background: #2f80ed;
    border-radius: 5px;
    margin: 8px auto 0;
    opacity: 0;
}

.date-item.active {
    transform: translateY(-10px);
}

.date-item.active .dot {
    opacity: 1;
}

.date-item.disabled {
    opacity: 0.35;
    pointer-events: none;
}

.time-container{
    margin-top: -40px;
    background: #EFEEF4;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 10px 10px rgba(0,0.2,0,0);
    z-index: 999;
    position: relative;
}